@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgba(148, 195, 226, 0.3);
}
div {
  padding-top: 3%;
  color: black;
  font-size: xx-large;
  padding-bottom: 20px;
}
table {
  font-size: large;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-color: black;
  border-radius: 40px;
  padding: 30px;
  background-color: rgba(148, 195, 226, 0.6);
}
td {
  padding: 3px;
}
button {
  position: relative;
  top: 8rem;
  padding: auto;
  border-radius: 40px;
  background-color: rgba(148, 195, 226, 0.3);
  font-size: large;
}
